In [3]:
import numpy as np
import pandas as pd

In [5]:
a=['1','2']
df=pd.DataFrame(a)
df

   0
0  1
1  2

In [6]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
dates=pd.date_range('today',periods=6)
numarr=np.random.randn(6,4)
clounm=['a','b','c','d']
df=pd.DataFrame(numarr,index=dates,columns=clounm)
df

                                   a         b         c         d
2020-10-08 15:28:30.292986 -0.385425 -0.024353 -0.134437  0.292701
2020-10-09 15:28:30.292986  0.450727 -0.701133 -2.003293 -1.008849
2020-10-10 15:28:30.292986 -0.083099 -0.509214  1.001448  2.105260
2020-10-11 15:28:30.292986  0.886164 -1.084562  0.004670 -1.154107
2020-10-12 15:28:30.292986  0.522424  0.923983  2.765118 -0.163085
2020-10-13 15:28:30.292986  0.255628  0.361918 -1.030244  0.144657

In [11]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 720.0+ bytes

In [13]:
df.head(3)
#df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [14]:
df['animal']

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [22]:
df.loc[df.index[[3,4,8]],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [25]:
df[df['age']>3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

In [ ]:
df[df['age'].isnull()]

In [28]:
df[(df['age']<4)&(df['age']>2)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

In [29]:
df.loc['f','age']=1.5

In [ ]:
df['visits'].sum()

In [31]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [33]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [34]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [36]:
df['priority']=df['priority'].map({'yes':True,'no':False})

TypeError: Cannot compare types 'ndarray(dtype=bool)' and 'str'

In [37]:
df['animal']=df['animal'].replace('snake','python')