In [6]:
import pandas as pd
import numpy as np

In [7]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
#即，返回一个表格，行是aniaml种类，列是visits数量，
# 表格值是行动物种类列访客数量的平均年龄
df.dtypes
df.pivot_table(index='animal',
               columns='visits',
               values='age',
               aggfunc='mean')

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

In [9]:
df.loc['k']=[5.5, 'dog', 'no', 2]
df=df.drop('k')

In [10]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df1 = df.drop_duplicates(subset='A')
df1

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [11]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df1=df.sub(df.mean(axis=1),axis=0)
print(df)
df1

          0         1         2
0  0.221180  0.518619  0.820850
1  0.828103  0.246034  0.403518
2  0.665679  0.798090  0.537132
3  0.633082  0.203358  0.699285
4  0.568746  0.681461  0.849494

          0         1         2
0 -0.299037 -0.001597  0.300634
1  0.335551 -0.246518 -0.089033
2 -0.001288  0.131123 -0.129835
3  0.121174 -0.308550  0.187376
4 -0.131154 -0.018439  0.149594

In [12]:
df = pd.DataFrame(np.random.random(size=(5, 5)), columns=list('abcde'))
df.sum().idxmin()

'd'

In [14]:
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'),
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)
df1

A
a    409
b    156
c    345
Name: B, dtype: int64

In [16]:
#对A列每10步长，求对应的B的和
df = pd.DataFrame({'A': [1,2,11,11,33,34,35,40,79,99],
                   'B': [1,2,11,11,33,34,35,40,79,99]})
# pd.cut(x,bins,right=True,labels=None,
#       retbins=False,precision=3,include_lowest=False)
# x：一维数组
# bins：整数--将x划分为多少个等距的区间，序列--
# 将x划分在指定序列中，若不在该序列中，则是Nan
# right：是否包含右端点
# labels：是否用标记来代替返回的bins
# precision：精度
# include_lowest：是否包含左端点
df1=df.groupby(pd.cut((df['A']),bins=np.arange(1,101,10)))['B'].sum()
df1

A
(1, 11]      24
(11, 21]      0
(21, 31]      0
(31, 41]    142
(41, 51]      0
(51, 61]      0
(61, 71]      0
(71, 81]     79
(81, 91]      0
Name: B, dtype: int64

In [17]:
#（或者至开头）的距离，生成新列y
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

izero = np.r_[-1, (df['X'] == 0).to_numpy().nonzero()[0]] # 标记0的位置
idx = np.arange(len(df))
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
print(df)

# 方法二
# x = (df['X'] != 0).cumsum()
# y = x != x.shift()
# df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

# 方法三
# df['Y'] = df.groupby((df['X'] == 0).cumsum()).cumcount()
#first_zero_idx = (df['X'] == 0).idxmax()
# df['Y'].iloc[0:first_zero_idx] += 1

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [18]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.unstack().sort_values()[-3:].index.tolist()

[(1, 1), (1, 4), (2, 4)]

In [19]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [-12,345,3,1,45,14,4,-52,54,23,-235,21,57,3,87]})
print(df)

def replace(series):
    mask=series<0
    series[mask]=series[-mask].mean()
    return series
df['vals'] = df.groupby(['grps'])['vals'].transform(replace)
df

   grps  vals
0     a   -12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a   -52
8     b    54
9     c    23
10    c  -235
11    c    21
12    b    57
13    b     3
14    c    87

   grps        vals
0     a  117.333333
1     a  345.000000
2     a    3.000000
3     b    1.000000
4     b   45.000000
5     c   14.000000
6     a    4.000000
7     a  117.333333
8     b   54.000000
9     c   23.000000
10    c   36.250000
11    c   21.000000
12    b   57.000000
13    b    3.000000
14    c   87.000000